.sec1{
    background-color: rgb(245, 245, 245);
    width: 100rem;
    height: fit-content;
    padding: 20px;
    margin: 0px;
}
.parent .child .title{
    color: red;
}
.parent .title {
    color: blue;
}
.parent p , .title{
    color: green;
}
.one , .two ,.three ,.four {
    color: white;
    background-color: brown;
    width: fit-content;
    max-width: 400px;
    max-height: 50px;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}
.sec2{
    background-color: rgb(255, 255, 255);
    width: 100vh;
    height: fit-content;
    padding: 20px;
    margin: 0px;
}
.o1{
    color: black;
    text-shadow: 1px 1.5px 0px red,1px 3px 0px rgb(0, 119, 255), 1px 4px 0px rgb(111, 0, 255);
}
.One{
    text-transform: uppercase;
}
.Two{
    text-transform: capitalize;
}
.Three{
    text-transform: lowercase;
}
.o2,.o3,.o4{
    width: 400px;
    background-color: rgb(230, 230, 230);
    margin: 10px;
}
.o3{
    white-space: nowrap;
    overflow: hidden;
}
.o4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.elzl{ 
    text-transform: capitalize;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgb(0, 148, 128);
    text-decoration: none;
    display: inline-block;
    border-bottom: 4px solid rgb(3, 100, 71);
}
.d1{
    border: 2px solid rgb(0, 155, 155);
    padding: 20px;
    margin: 20px;
}
.d1 p {
    text-align: center;
  border: inherit;
  padding: inherit;
    background-color: rgb(236, 236, 236);
}
.t1{
    font-weight: 300;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.t2{
    font-weight: 700;
    font-family: "Cairo", sans-serif;
}
.t3{
    font-weight: 400;
    font-family: "Jomhuria", serif;
}
